* {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.view-list {
    list-style-type: none;
    padding: 0;
    border-top: 1px solid #ededed;
    padding: 30px;
}

.view-list>li {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.view-list>li>div {
    flex-grow: 1;
    flex-basis: 0;
}

.header-section {
    padding: 15px 30px;
}

.view-header {
    font-size: 23px;
    font-weight: bold;
    margin-top: 5px;
}

.label {
    color: #afafaf;
}
